
@* @{
    ViewData["Title"] = "Home";
} *@

@section breadcrumb{
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Page1</a></li>
        <li class="breadcrumb-item active" aria-current="page">Page2</li>
    </ol>
}

<section class="text-center p-4 mb-4">
    <div class="container">
        <h1>Welcome to Book Store @ViewData["Title"]</h1>
        <p class="lead text-muted">This is the demo description in the store. Here you can see the library.</p>
        <p>
            <a class="btn btn-primary" href="#">Search Books</a>
        </p>
    </div>
</section>

<div class="p-4 bg-light">
    <div class="container">

        <h3>Top Books</h3>
        @* @await Component.InvokeAsync("TopBooks") *@

        <vc:top-books></vc:top-books>
       
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function(){

        })
    </script>
}