body {
}

.footer {
/*    position: fixed;*/
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* Adjust as needed */
    padding: 20px 0; /* Adjust padding as needed */
    text-align: center;
}
